.container.heading
  %h1 Campaign Report

  %p
    %strong Nacho People Unite
    was sent to 32 recipients on February 1, 2013.

.bodycontent
  %section.container
    %p See reports by
    %select
      %option Select