.container
  %h1 Campaigns
  =link_to("Create a Campaign", "#", class: "addbutton")

.bodycontent
  %section.container

    .msg_success
      %strong Hooray!
      =link_to("A New Campaign", "#")
      was successfully added.

    .tablewrapper
      %table
        %tr
          %th
            Campaign
          %th
            Recipients
          %th
            Created
          %th
            Sent
          %th
        - 3.times do
          %tr
            %td
              =link_to("Do Abbreviations Annoy You?", "#")
            %td
              45 Recipients
            %td
              02/03/2013
            %td
              12/31/2014
            %td
              =link_to("View Reports", "#", class: "bluebutton")